@charset "UTF-8";




body{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}


#siteTitle{
	top: 0px;
	width: 100%;
	height: 80px;
	position: fixed;
}

#siteTitle a{
	color: #2f97ff;
	font-size: 30pt;
	text-shadow: 2px 2px 2px #2f97ff;
}



#siteContent{
	
	width: 100%;
	padding: 90px;
}
#siteMenu{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 80px;
	
}

#siteMenu td{
	width: 33%;
	text-align: center;
}


#siteMenu a{
	color: #8080ff;
	font-size: 20pt;
	font-weight: 900;
	text-shadow: 4px 4px 4px #8080ff;
}





#homeImg{
	width: 300px;
	box-shadow: 5px 5px 5px black;
}

