@charset "UTF-8";

body {
	background: ibory;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 350px;
	background-color: #E9A6A6;
	color: white;
}

td {
	font-size: 15pt;
	font-weight: 900;
	text-align: center;
}

button {
	width: 150px;
	height: 40px;
	font-size: 15px;
	color: black;
	background: white;
	border-color: balck;
	border-radius: 3px
}

#main {
	background: white;
	color: #FF9292;
	width: 350px;
	height: 70px;
	margin: 0 auto;
}

input {
	weight: 150psx;
}

.a2 {
	background-color: red;
}

.b2 {
	background-color: blue;
}

.c2 {
	background-color: green;
}


.d2 {
	background-color: black;
}
